*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.alert-success{
    font-size: 30px;
    background-color: green;
  text-align: center;
}
.annonce_tache{
  text-align: center;
}