.form_connection{
margin: auto;
  margin-top: 4rem;
  border: 1px solid #424558;
  padding: 2rem;
  border-radius: 2pc;
  background-color: grey;
}
.mail_connexion{
  display: block;
}
.pass_connexion{
  display: block;
}
.inp_pass_connexion{
  width: 100%;
}
.imp_mail_connexion{
  width: 100%;
}
.connecion_button{
  margin-left: 25%;
}