h2{
  text-align: center;
}

.fait{
  background-color: green;
  color: #FFFFFF;
  text-transform: uppercase;
}
.partiellement{
  background-color: orange;
  color: #FFFFFF;
  text-transform: uppercase;
}
.impossible{
  background-color: darkred;
  color: #FFFFFF;
  text-transform: uppercase;
}

.faire{
  font-weight: bold;
  text-transform: uppercase;
  background-color: #FFFFFF;
}

.overflow{
    text-overflow: " ...";
}

td{
  max-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
//-------------------------------------------
.legende{
  display: flex;
  align-items: center;
}
.div_fait{
  background-color: green;
  width: 2rem;
  height: 1rem;
}
.div_fait p{
  margin-left: 2rem;
}

//-------------------------------------------
.leg_ul{
  align-items: flex-end;
  .list-item{
    width:100px;
    position: relative;
    margin:20px 0;
    &:first-of-type{
      background-color:green ;
      &::after{
        content: ': FAIT';
        width:200px;
        position: absolute;
        left:105%;
        top:50%;
        transform: translateY(-50%);
      }
    }
    &:nth-of-type(2){
      background-color:orange ;
      &::after{
        content: ': FAIT PARTIELLEMENT';
        width:200px;
        position: absolute;
        left:105%;
        top:50%;
        transform: translateY(-50%);
      }
    }
    &:last-of-type{
      background-color:darkred ;
      &::after{
        content: ': NON FAIT';
        width:200px;
        position: absolute;
        left:105%;
        top:50%;
        transform: translateY(-50%);
      }
    }
  }
}




