h2{
  text-align: center;
}

.fait{
  background-color: green;
  color: #FFFFFF;
  text-transform: uppercase;
}
.partiellement{
  background-color: orange;
  color: #FFFFFF;
  text-transform: uppercase;
}
.impossible{
  background-color: darkred;
  color: #FFFFFF;
  text-transform: uppercase;
}

.faire{
  font-weight: bold;
  text-transform: uppercase;
  background-color: #FFFFFF;
}

.overflow{
    text-overflow: " ...";
}

td{
  max-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
//-------------------------------------------
.legende{
  display: flex;
  align-items: center;
}
.div_fait{
  background-color: green;
  width: 2rem;
  height: 1rem;
}
.div_fait p{
  margin-left: 2rem;
}

//-------------------------------------------
.leg_ul{
  align-items: flex-end;
}
.leg_fait{
  background-color: green;
  display:inline;
  color: white;
}
.leg_partiel{
  background-color: orange;
  display: inline;
  color: white;
}

.leg_impossible{
  background-color: darkred;
  display: inline;
  color: white;
}



